<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Barembo</string>
	<key>CFBundleIdentifier</key>
	<string>de.barembo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
    <string>Fonts/uno-fluentui-assets.ttf</string>
    <string>Fonts/Sniglet-ExtraBold.ttf</string>
    <string>Fonts/Sniglet-Regular.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UILaunchImageOrientation</key>
	<string>Portrait</string>
	<key>UILaunchImageSize</key>
	<string>{320, 568}</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcons.appiconset</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To attach a photo to your entry, we need access to your Photo Library.</string>
  <key>NSCameraUsageDescription</key>
  <string>To attach a photo to your entry, we need access to your Camera.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>To attach a video to your entry, we need access to your Microphone.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>To attach a photo or video to your entry, we need access to your Gallery.</string>
  <key>MinimumOSVersion</key>
	<string>15.2</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Barembo Book-Sharing</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>barembo</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
